# Python cache
__pycache__/
*.py[cod]

# Entorno virtual
venv/
env/
.venv/

# Variables de entorno
.env

# Logs
*.log

# Base de datos SQLite
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# images
images/